.splitterCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(219, 207, 219);
    color: black;
}

.splitterCard > div {
  background-color: rgb(219, 207, 219);
}

.splitterMinimized {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
}
