.splitter-tile {
  display: grid;
  place-content: center;
  border: 3px dashed rgb(255, 133, 11);
  position: relative;
  overflow: visible;
  /* directional icon positioning */
  .position-up {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .position-down {
    position: absolute;
    bottom: -17%;
    left: 50%;
    transform: translateX(-50%);
  }
  .position-right {
    position: absolute;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
  }
  .position-left {
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
  }
  progress {
    width: 100%;
  }

  .transported-good {
    position: absolute;
    left: 40%;
    top: 40%;
    width: 20%;
    height: 20%;
    background: white;
    border-radius: 50%;
    transform-origin: 50% 50%;
    pointer-events: none;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.9);
    animation: 1000ms linear forwards;
    opacity: 0.8;
    --prevpercent: -580%;
    --nextpercent: 580%;
  }

  .transported-good.starting.up {
    animation-name: transport-move-bottom-center;
  }

  .transported-good.ending.up {
    animation-name: transport-move-top-center;
  }

  .transported-good.starting.down {
    animation-name: transport-move-top-center;
    animation-direction: reverse;
  }

  .transported-good.ending.down {
    animation-name: transport-move-bottom-center;
    animation-direction: reverse;
  }

  .transported-good.right.starting {
    animation-name: transport-move-left-center;
  }

  .transported-good.right.ending {
    animation-name: transport-move-right-center;
  }

  .transported-good.left.starting {
    animation-name: transport-move-right-center;
    animation-direction: reverse;
  }

  .transported-good.left.ending {
    animation-name: transport-move-left-center;
    animation-direction: reverse;
  }
}

@keyframes transport-move-top-bottom {
  0% {
    transform: translate(-0%, var(--prevpercent));
  }
  100% {
    transform: translate(-0%, var(--nextpercent));
  }
}

@keyframes transport-move-bottom-top {
  0% {
    transform: translate(-0%, var(--nextpercent));
    opacity: 0.5;
  }
  100% {
    transform: translate(-0%, var(--prevpercent));
  }
}

@keyframes transport-move-left-right {
  0% {
    transform: translate(var(--prevpercent), -0%);
  }
  100% {
    transform: translate(var(--nextpercent), -0%);
  }
}

@keyframes transport-move-right-left {
  0% {
    transform: translate(500%, -0%);
  }
  100% {
    transform: translate(-500%, -0%);
  }
}

@keyframes transport-move-top-center {
  0% {
    transform: translate(-0%, 0%);
  }
  100% {
    transform: translate(-0%, var(--prevpercent));
  }
}

@keyframes transport-move-bottom-center {
  0% {
    transform: translate(-0%, var(--nextpercent));
  }
  100% {
    transform: translate(-0%, 0%);
  }
}

@keyframes transport-move-left-center {
  0% {
    transform: translate(var(--prevpercent), -0%);
  }
  100% {
    transform: translate(0%, -0%);
  }
}
@keyframes transport-move-right-center {
  0% {
    transform: translate(0%, -0%);
  }
  100% {
    transform: translate(var(--nextpercent), -0%);
  }
}
