/* Config geral (tamanho e play/pause) */
.transport-sprite,.consumer-sprite,.source-sprite,.stock-sprite {
  width: 42px; /* nao consegui fazer seguir o tamanho do pai, provavelmente pq paramos de definir tamanhoe mcada */
  height: 42px;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.running{
  animation-play-state: running;
}

.cooldown{
  animation: none !important;
}

/* Transporter sprites */
@keyframes conveyorBelt {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -672px;
  }
}

.transport-sprite {
  background-image: url("../assets/conveyor-green_idle.png");
  animation: conveyorBelt 2s steps(16) infinite;
}

/* Rotation for each transproter direction */
.transport-sprite.right {
  transform: rotate(180deg);
}
.transport-sprite.down {
  transform: rotate(-90deg);
}
.transport-sprite.up{
  transform: rotate(90deg);
}

/* Source sprite */
@keyframes drilling {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -840px;
  }
}
.source-sprite {
  background-image: url("../assets/drill_idle.png");
  animation: drilling 2s steps(20) infinite;
}

/* Stock sprite */
@keyframes stockIdle {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -252px;
  }
}
.stock-sprite {
  background-image: url("../assets/storage_idle.png");
  animation: stockIdle 1s steps(6) infinite;
}


/* Consumer sprite */
@keyframes consumerIdle {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -168px;
  }
}
.consumer-sprite {
  background-image: url("../assets/furnace_idle.png");
  animation: consumerIdle 1s steps(4) infinite;
}
