.tile {
  display: grid;
  place-content: stretch;
  background-color: rgb(219, 207, 219);
  color: black;
  border: 1px solid lightgreen; 
}

.stockMinimized > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
