.Toolset{
    background-color: rgb(219, 207, 219);
    padding: 1rem;
    border-radius: 20px;
    width: 200px;
    height: fit-content;
    min-width: 120px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ToolsetTitle{
   margin-bottom: 20px;
}

.ToolsetSubtitle{
    margin-top: 5px;
    text-align: center;
}

.ToolsetWarning{
    margin-top: 20px;
    font-weight: bold;
}
