.stock-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px double darkgreen;
  position: relative;

  progress {
      width: 100%;
    }
  
  .leavingMovingDirection-vertical {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .entryMovingDirection-vertical {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
  }

  .leavingMovingDirection-horizontal {
    position: absolute;
    right: -2px;
    top: 40%;
    transform: translateY(-50%);
  }

  .entryMovingDirection-horizontal {
    position: absolute;
    left: -2px;
    top: 40%;
    transform: translateY(-50%);
  }

}
