.sourceCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
    border-radius: 1.25rem; /* 20px */
    background-color: rgb(219, 207, 219);
    color: black;
}

.sourceCard > * {
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
background-color: rgb(219, 207, 219);
}
