/* Garante que o modelo de caixa inclua padding/borda no tamanho total */
*, *::before, *::after {
  box-sizing: border-box;
}

.flux-board {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem; 
  width: 100vw;
  height: 100vh;
  flex: 1;
  min-width:0;
  overflow: hidden;
}

.game-board {
  display: grid;
  padding: 0.5rem;
  position: relative;
  background: url("../assets/grass.png") repeat;
  border-radius: 1rem;
  flex-shrink: 0;
}

.tile-wrapper {
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.15);
  aspect-ratio: 1 / 1;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .flux-board {
    flex: none;               
    width: 100%;
    height: 45vh;             
  }
}
