.flux-board {
  display: flex;
  flex-direction: row;

  .game-board {
    display: grid;
    padding: 0.5rem;
    position: relative;

    .tile-wrapper {
      border-radius: 1rem;
      background-color: rgb(0, 0, 0, 15%);
      aspect-ratio: 1 / 1;
      padding: 0.5rem;
    }
  }
  .tool-selector {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
}

.source,
.stock,
.consumer,
.transport {
  border-radius: 20px;
  background-color: rgb(219, 207, 219);
  color: black;
}
