.stock-sprite {
  width: 330px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -55%;
  scale: 0.22727;
  transform-origin: center;
  background: url("spritesheet.png") no-repeat;
}

.quantity-empty {
  background-position: -1320px -1500px;
}

.quantity-one {
  background-position: -1650px -1500px;
}

.quantity-two {
  background-position: -1980px -1500px;
}

.quantity-full {
  background-position: -2310px -1500px;
}

.animate-stock {
  animation: stock-animation 1s steps(1);
}

@keyframes stock-animation {
  0.00% {
    background-position: -0px -0px;
  }
  3.33% {
    background-position: -330px -0px;
  }
  6.67% {
    background-position: -660px -0px;
  }
  10.00% {
    background-position: -990px -0px;
  }
  13.33% {
    background-position: -1320px -0px;
  }
  16.67% {
    background-position: -1650px -0px;
  }
  20.00% {
    background-position: -1980px -0px;
  }
  23.33% {
    background-position: -2310px -0px;
  }
  26.67% {
    background-position: -2640px -0px;
  }
  30.00% {
    background-position: -0px -500px;
  }
  33.33% {
    background-position: -330px -500px;
  }
  36.67% {
    background-position: -660px -500px;
  }
  40.00% {
    background-position: -990px -500px;
  }
  43.33% {
    background-position: -1320px -500px;
  }
  46.67% {
    background-position: -1650px -500px;
  }
  50.00% {
    background-position: -1980px -500px;
  }
  53.33% {
    background-position: -2310px -500px;
  }
  56.67% {
    background-position: -2640px -500px;
  }
  60.00% {
    background-position: -0px -1000px;
  }
  63.33% {
    background-position: -330px -1000px;
  }
  66.67% {
    background-position: -660px -1000px;
  }
  70.00% {
    background-position: -990px -1000px;
  }
  73.33% {
    background-position: -1320px -1000px;
  }
  76.67% {
    background-position: -1650px -1000px;
  }
  80.00% {
    background-position: -1980px -1000px;
  }
  83.33% {
    background-position: -2310px -1000px;
  }
  86.67% {
    background-position: -2640px -1000px;
  }
  90.00% {
    background-position: -0px -1500px;
  }
  93.33% {
    background-position: -330px -1500px;
  }
  96.67% {
    background-position: -660px -1500px;
  }
  100.00% {
    background-position: -990px -1500px;
  }
}
