#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Game {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.GameStatistics {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 720px;
}

.NavBar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.NavBar .separator {
  font-size: 1.5em;
  color: #ccc;
  align-self: center;
}

.NavBar button.Selected {
  background-color: #646cff;
  color: white;
}
