#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Game{
  display:flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.GameStatistics{
  display: flex;
  flex-direction:column;
  width: 50%;
  max-width: 720px;
}

.Graph{
  width: 100%;
  height: auto;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Graph > *{
  margin: 0px;
  margin-left: 50px;
}
