.FluxBoard {
    width: 100%;
    height: 43.75rem; /* 700px */
    display: flex;
    flex-direction: row;
}

.Board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    padding: 0.5rem; /* 8px */
    gap: 1.25rem; /* 20px */
}

.Board > button {
    width: 12.5rem;  /* 200px */
    height: 7.5rem;  /* 120px */
    margin: auto;
}

.Selector {
    display: flex;
    margin: 0.625rem; /* 10px */
    width: 80%;
    gap: 0.9375rem; /* 15px */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.source, .stock, .consumer, .transport{
    border-radius: 1.25rem; /* 20px */
    background-color: rgb(219, 207, 219);
    color: black;
}
