.sourcesprite {
  width: 80px;
  height: 110px;
  background: url('source.png') no-repeat;
  background-size: 650px 440px;
  position: relative;
  top:-30%;
}

.sourcesprite-0 { background-position: -0px -0px; }
.sourcesprite-1 { background-position: -330px -0px; }
.sourcesprite-2 { background-position: -660px -0px; }
.sourcesprite-3 { background-position: -990px -0px; }
.sourcesprite-4 { background-position: -1320px -0px; }
.sourcesprite-5 { background-position: -1650px -0px; }
.sourcesprite-6 { background-position: -1980px -0px; }
.sourcesprite-7 { background-position: -2310px -0px; }
.sourcesprite-8 { background-position: -2640px -0px; }
.sourcesprite-9 { background-position: -0px -500px; }
.sourcesprite-10 { background-position: -330px -500px; }
.sourcesprite-11 { background-position: -660px -500px; }
.sourcesprite-12 { background-position: -990px -500px; }
.sourcesprite-13 { background-position: -1320px -500px; }
.sourcesprite-14 { background-position: -1650px -500px; }
.sourcesprite-15 { background-position: -1980px -500px; }
.sourcesprite-16 { background-position: -2310px -500px; }
.sourcesprite-17 { background-position: -2640px -500px; }
.sourcesprite-18 { background-position: -0px -1000px; }
.sourcesprite-19 { background-position: -330px -1000px; }
.sourcesprite-20 { background-position: -660px -1000px; }
.sourcesprite-21 { background-position: -990px -1000px; }
.sourcesprite-22 { background-position: -1320px -1000px; }
.sourcesprite-23 { background-position: -1650px -1000px; }
.sourcesprite-24 { background-position: -1980px -1000px; }
.sourcesprite-25 { background-position: -2310px -1000px; }
.sourcesprite-26 { background-position: -2640px -1000px; }
.sourcesprite-27 { background-position: -0px -1500px; }
.sourcesprite-28 { background-position: -330px -1500px; }
.sourcesprite-29 { background-position: -660px -1500px; }
.sourcesprite-30 { background-position: -990px -1500px; }
