.sprite {
  top:-25%;
  width: 80px;
  height: 110px;
  background: url('spritesheet.png') no-repeat;
  background-size: 650px 440px; 
  overflow-y: visible;
}

@keyframes spritePlay {
  /* linha 1 */
  0%   { background-position:    0px    0px; }
  29%  { background-position: -2640px   0px; }

  /* linha 2 */
  29.0001% { background-position:    0px  -500px; }
  58%      { background-position: -2640px -500px; }

  /* linha 3 */
  58.0001% { background-position:    0px -1000px; }
  87%      { background-position: -2640px -1000px; }

  /* linha 4 (só até o frame 30) */
  87.0001% { background-position:    0px -1500px; }
  100%     { background-position:  -990px -1500px; }
}

.sprite-0 { background-position: -0px -0px; }
.sprite-1 { background-position: -330px -0px; }
.sprite-2 { background-position: -660px -0px; }
.sprite-3 { background-position: -990px -0px; }
.sprite-4 { background-position: -1320px -0px; }
.sprite-5 { background-position: -1650px -0px; }
.sprite-6 { background-position: -1980px -0px; }
.sprite-7 { background-position: -2310px -0px; }
.sprite-8 { background-position: -2640px -0px; }
.sprite-9 { background-position: -0px -500px; }
.sprite-10 { background-position: -330px -500px; }
.sprite-11 { background-position: -660px -500px; }
.sprite-12 { background-position: -990px -500px; }
.sprite-13 { background-position: -1320px -500px; }
.sprite-14 { background-position: -1650px -500px; }
.sprite-15 { background-position: -1980px -500px; }
.sprite-16 { background-position: -2310px -500px; }
.sprite-17 { background-position: -2640px -500px; }
.sprite-18 { background-position: -0px -1000px; }
.sprite-19 { background-position: -330px -1000px; }
.sprite-20 { background-position: -660px -1000px; }
.sprite-21 { background-position: -990px -1000px; }
.sprite-22 { background-position: -1320px -1000px; }
.sprite-23 { background-position: -1650px -1000px; }
.sprite-24 { background-position: -1980px -1000px; }
.sprite-25 { background-position: -2310px -1000px; }
.sprite-26 { background-position: -2640px -1000px; }
.sprite-27 { background-position: -0px -1500px; }
.sprite-28 { background-position: -330px -1500px; }
.sprite-29 { background-position: -660px -1500px; }
.sprite-30 { background-position: -990px -1500px; }
